* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/*移动端顺畅滚动*/
.scroll-touch {
    -webkit-overflow-scrolling: touch;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: #999;
}

input, textarea, select {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    resize: none;
    margin-left: 10px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
}

i {
    display: block;
    width: 20px;
    height: 20px;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity .5s;
}

/*!*改变黄标的颜色*!*/
/*input {*/
    /*caret-color: red;*/
/*}*/


.mint-toast-text {
    font-size: 16px !important;
}
